<div class="col-xs-12">
  <div class="page-header">
    <h4>関連商品</h4>
  </div>
</div>
<% related_products.each do |related_product| %>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="productBox">
      <div class="productImage clearfix">
        <%= link_to image_tag(related_product.display_image.attachment(:large), :alt => "#{related_product.name}"), potepan_product_path(related_product.id) %>
      </div>
      <div class="productCaption clearfix">
        <%= link_to potepan_product_path(related_product.id) do %>
          <h5><%= related_product.name %></h5>
          <h3><%= related_product.display_price %></h3>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
