<% provide(:title, @taxon.name) %>
<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
  <div class="container">
    <%= render 'potepan/categories/shared/page_header', taxon: @taxon %>
  </div>
</section>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'potepan/categories/shared/products_category', taxonomies: @taxonomies %>
        <%= render 'potepan/categories/shared/color_search' %>
        <%= render 'potepan/categories/shared/size_search' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'potepan/categories/shared/filterArea' %>
        <%= render 'potepan/categories/shared/productBox', products: @products %>
      </div>
    </div>
  </div>
</section>
<!-- LIGHT SECTION -->
<section class="lightSection clearfix">
  <%= render 'potepan/categories/shared/partnersLogo_list' %>
</section>
