<% provide(:title, @product.name) %>
<div class="main-wrapper">    
<!-- LIGHT SECTION -->
  <section class="lightSection clearfix pageHeader">
    <div class="container">
      <%= render 'potepan/products/shared/page_header', product: @product %>
    </div>
  </section>
<!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix">
    <div class="container">
      <div class="row singleProduct">
        <div class="col-xs-12">
          <div class="media">
            <%= render 'potepan/products/shared/products_images', product: @product %>
            <%= render 'potepan/products/shared/product_details', product: @product %>
          </div> 
        </div>
      </div>
      <div class="row productsContent">
        <%= render 'potepan/products/shared/productsContent', related_products: @related_products %>
      </div>
    </div>
  </section>
</div>
