<div class="panel panel-default">
  <div class="panel-heading">商品カテゴリー</div>
  <div class="panel-body">
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
      <ul class="nav navbar-nav side-nav">
        <% taxonomies.each do |taxonomy| %>
          <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#taxonomy_<%= taxonomy.id %>"><%= taxonomy.name %><i class="fa fa-plus"></i></a>
            <ul id="taxonomy_<%= taxonomy.id %>" class="collapse collapseItem search_in_all_taxon">
              <% taxonomy.root.leaves.each do |taxonomy| %>
                <li><%= link_to "#{taxonomy.name} (#{taxonomy.products.count})", potepan_category_path(taxonomy.id) %></li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
