<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application','https://fonts.googleapis.com/css?family=Oxygen:400,300,700', media: 'all' %>
  </head>

  <body>
    <%= render 'potepan/shared/header' %>
    <%= yield %>
    <%= render 'potepan/shared/footer' %>
    <%= render 'potepan/shared/modal' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
